# Compiled files
**/.terraform/*
*.tfstate
*.tfstate.*
**/planfile
**/*.planfile
**/*.kubeconfig
**/terraform.tfvars.json
**/*.terraform.tfvars.json
**/*.helmfile.vars.yaml
**/.terraform.lock.hcl

# Module directory
.terraform
**/.idea
**/*.iml

**/.build-harness
**/build-harness
**/build
**/dist
**/.helmfile/
.DS_Store
/variant
*.tar
*.gz
**/bin

*.dll
*.exe
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform.lock.hcl
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf

terraform-provider-utils
