---
layout: ""
page_title: "Provider: Cloud Posse Utils"
description: |-
  The utils provider contains data sources to perform tasks that are difficult to perform in raw Terraform.
---

# Cloud Posse Utils Provider

The utils provider contains data sources to perform tasks that are difficult to perform in raw Terraform.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}